	body{
		overflow-x:hidden;
	}
	.head_menu_block{
		position: relative;
		z-index:5;
		top:2vw;
		width:79vw;
		left: 16vw;
		height:8vw;
	}
	.head_menu_block_img{
		position: relative;
		z-index:5;
		background-image: url(\images/zebra_head.png);
		background-size: 79vw 26vw;
		width:80%;
		height:26vw;
		left:11vw;
	}
	.menu{
		position: relative;
		z-index:5;
		width:150vw;
		left: -5vw;
		height:8vw;
		margin-top:-4.2vw;
	}
	.menu_nav{
		width:100vw;
	}
	.menu_link {
	  text-decoration: none;
	}
	.menu_ul{
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
	.menu_li {
		color: #fff;
		background: #988588;
		display: block;
		float: left;
		padding: 1.4vw;
		font-size:1.2vw;
		position: relative;
		text-decoration: none;
		transition-duration: 0.5s;
		width:13vw;
		margin-top:2vw;
		text-align:center;
		
		font-family: 'Open Sans', sans-serif;
	}
	.menu_li a {
	  color: #fff;
	}
	.menu_li:hover {
		background: #4e705d;
		cursor: pointer;
	}
	.menu_ul li ul {
		background: #4e705d;
		visibility: hidden;
		opacity: 0;
		width: 10.8vw;
		position: absolute;
		transition: all 0.5s ease;
		margin-top: 1.4vw;
		left: 0;
		display: none;
		font-family: 'Open Sans', sans-serif;
	}
	.menu_ul li:hover > ul,
	.menu_ul li ul:hover {
		visibility: visible;
		opacity: 1;
		display: block;
	}

	.menu_ul li ul li {
		clear: both;
		width: 8vw;
		margin-top: 0vw;
	}
	.social_logo{
		width:3vw;
	}
	.galleryBlock{
		position:relative;
		margin-top:4vw;
		width:97%;
		margin-left:2vw;
		overflow-x:hidden;
	}
	.gallery_grid{
		margin-right:4.1vw;
	}
	.bottom{
		position:relative;
		width: 100%;
		height:5vw;
		background-color:#4e705d;
		margin-top:2vw;
	}