	body{
		overflow-x:hidden;
	}
	.head_menu_block{
		position: relative;
		z-index:5;
		top:2vw;
		width:55vw;
		left: 28.5vw;
		height:8vw;
	}
	.head_menu_block_img{
		position: relative;
		z-index:5;
		background-image: url(\images/zebra_head.png);
		background-size: 75.15vw 24vw;
		width:75.15vw;
		height:24vw;
		left:11.5vw;
		
	}
	.menu{
		position: relative;
		z-index:5;
		width:75.2vw;
		left: -17vw;
		height:8vw;
		margin-top:-2.2vw;
	}
	.social_logo{
		width:3vw;
	}
	.gallery_name{
		display:none;
	}
	.galleryBlock{
		position:relative;
		margin-top:4vw;
		display:block;
	}
	.gallery_grid{
		position:relative;
		margin-top:1vw;
	}
@media screen and (max-width: 999px) {
	
.head_menu_block{
		position: relative;
		z-index:5;
		top:2vw;

		left: 28.5vw;
		height:8vw;
	}
  .menu{
		position: fixed;
		z-index:5;
		left: 0vw;
		height:8vw;
		width:100%;
		margin-top:-1.9vw;
	}
	.head_menu_block_img{
		display:none;
		text-align:center;

		
	}
	.gallery_name{
		display:block;
		margin-bottom:20px;
		font-family: 'Open Sans', sans-serif;
		margin-left:20px;
		font-size:20px;
	}
	.galleryBlock{
		position:relative;
		margin-top:40px;
		display:block;
	}
	
}
